body, html {
  font-family: Roboto, Arial, sans-serif;
}

h1 {
  text-align: center;
  font: 400 60px Roboto, Arial, sans-serif;
}

.blue {
  color: #4285F4;
}

.red {
  color: #DB4437;
}

.yellow {
  color: #F4B400;
}

.green {
  color: #0F9D58;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-left: 48%;
}

.auth-button {
  right: 8px;
  font: 400 13px Arial;
  color: white;
  background: #4d90fe;
  border: 1px #3079ED solid;
  padding: 5px 10px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
}

.auth-button:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

.auth-button:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}
