body, html {
  font-family: Roboto, Arial, sans-serif;
}

.blue {
  color: #4285F4;
}

.red {
  color: #DB4437;
}

.yellow {
  color: #F4B400;
}

.green {
  color: #0F9D58;
}

.searchbox {
  width: 100%;
  min-width: 400px;
  max-width: 580px;
}

.auth-button, .setting-button, .home-button, .submit-button {
  font: 400 15px Roboto, Arial, sans-serif;
  color: white;
  background: #4d90fe;
  border: 1px #3079ED solid;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

.auth-button:hover, .setting-button:hover, .home-button:hover, .submit-button:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

.auth-button:active, .setting-button:active, .home-button:active, .submit-button:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}

.auth-button {
  margin-left: 10px;
}
