h3 {
  text-align: center;
  font-size: 40px;
}

.srp-container {
  display: flex;
}

.blue {
  color: #4285F4;
}

.red {
  color: #DB4437;
}

.yellow {
  color: #F4B400;
}

.green {
  color: #0F9D58;
}
